
html {
    scroll-behavior: smooth;
}

.list {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.flexer {
    display: flex;
    width: 100vw;
}

.spec-img {
    margin-top: -4px;
}


.spec-img {
    margin-left: 10vw;
    height: 27px;
    width: 27px;
}

.spec-p {
    font-weight: bold;
    font-size: 36px;
}

.details {
    margin-top: 15px;
    width: 80%;
}

.contact {
    font-size: 20px;
    margin: 30px 0px;
}

.links-div {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
}

#first-spec-p {
    margin-top: 60px;
}

